.container {
    margin-top: 100px;
}

.header {
    color: hsl(281, 28%, 34%);
    font-size: 3.65em;
    line-height: 1.1em;
}

.secondary-header {
    color: hsl(0, 0%, 50%);
    font-size: 1.2em;
}

.reviews {
    padding-top: 0.5em;
}

.review {
    color: hsl(281, 28%, 34%);
    background-color: hsl(309, 100%, 97%);
    display: flex;
    width: 80%;
    margin-bottom: 1em;
    height: 3em;
    border-radius: 5px;
    padding-top: 0.75em;
    padding-left: 2em;
}

.r1 {
    margin-left: 2em;
}

.r2 {
    margin-left: 4em;
}

.raiting {
    font-size: 1em;
    margin-left: 2em;
    font-weight: 700;
}

.star {
    width: 20px;
    height: 20px;
    margin-left: 0.4em;
}

.p-review {
    background-color: hsl(279, 75%, 17%);
    border-radius: 10px;

    height: 200px;
}

.name {
    color: hsl(309, 100%, 100%);
    font-size: 1em;
    padding-top: 2em;
    margin-left: 2em
}

.buyer {
    color: hsl(289, 100%, 64%);
    font-size: 1em;
    margin-left: 2em
}



.text-r {
    color: hsl(309, 100%, 100%);
    margin-left: 2em;
    padding-bottom: 2em;
}

.p {
    display: block;
}